# Ignore environment variables file
.env

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environment folder
venv/
env/

# Ignore system files
.DS_Store

# Ignore Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints

# Ignore VSCode settings (optional if using VSCode)
.vscode/

# Ignore Streamlit cache
.streamlit/
